/autom4te.cache
/target
/rpmbuild
/debbuild
/RPMS
/tgz
/stage
/*.tar.gz
Makefile
Makefile.in
config.*
missing
stamp*
aclocal.m4
/configure
/libtool
/project/compile
install-sh
ltmain.sh
/doc/html
*.lo
*.la
.libs
/project/libtool.m4
/project/ltoptions.m4
/project/ltsugar.m4
/project/ltversion.m4
/project/lt~obsolete.m4
