Source: argus-gsi-pep-callout
Section: libs
Priority: extra
Maintainer: Valery Tschopp <valery.tschopp@switch.ch>
Build-Depends: debhelper (>= 7.0.50~), dh-autoreconf, pkg-config, libargus-pep-dev, libglobus-gridmap-callout-error-dev, libglobus-gssapi-gsi-dev, libglobus-gssapi-error-dev, libglobus-gss-assist-dev
Standards-Version: 3.9.1
Homepage: https://twiki.cern.ch/twiki/bin/view/EGEE/AuthZPEPGSIConfig
Vcs-Git: git://github.com/argus-authz/argus-gsi-pep-callout.git
Vcs-Browser: https://github.com/argus-authz/argus-gsi-pep-callout

Package: libargus-gsi-pep-callout1
Architecture: any
Depends: libargus-pep2, ${shlibs:Depends}, ${misc:Depends}
Description: Argus PEP client callout module for Globus GSI (gridftp).
 This GSI module does callout to the Argus Authorization Service to authorize 
 the user based on its credentials and returns a user mapping.
